{% load static %}
<!-- Chat: In Card -->
<div class="flex flex-col overflow-hidden rounded-xl bg-white shadow-xs dark:bg-gray-800 dark:text-gray-100">
    <!-- Chat Header -->
    <div class="flex items-center justify-between gap-3 bg-gray-50 px-5 py-4 dark:bg-gray-700/50">
        <div class="flex items-center gap-3">
            <div class="relative rounded-full bg-gray-100">
                <div class="absolute -right-0.5 -bottom-0.5 size-3 rounded-full border-2 border-white bg-emerald-500">
                </div>
                <img src="https://cdn.tailkit.com/media/placeholders/avatar-euZ2n8dGUcQ-160x160.jpg" alt="User Avatar"
                    class="aspect-square size-10 rounded-full object-cover" />
            </div>
            <div>
                <h3 class="font-bold">{{ lead.full_name }}</h3>
                <p class="mt-0.5 text-xs font-medium text-gray-600 dark:text-gray-400">
                    {% if lead.quotes.last %}
                        {{ lead.quotes.last.event_date }} — ${{ lead.quotes.last.amount }}
                    {% else %}
                        New Lead: {{ lead.created_at }}
                    {% endif %}
                </p>
            </div>
        </div>
        <button type="button"
            class="closeModal inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white p-2 text-sm leading-5 font-semibold text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-xs focus:ring-3 focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                class="hi-micro hi-cog-6-tooth inline-block size-4">
                <path fill-rule="evenodd"
                    d="M6.455 1.45A.5.5 0 0 1 6.952 1h2.096a.5.5 0 0 1 .497.45l.186 1.858a4.996 4.996 0 0 1 1.466.848l1.703-.769a.5.5 0 0 1 .639.206l1.047 1.814a.5.5 0 0 1-.14.656l-1.517 1.09a5.026 5.026 0 0 1 0 1.694l1.516 1.09a.5.5 0 0 1 .141.656l-1.047 1.814a.5.5 0 0 1-.639.206l-1.703-.768c-.433.36-.928.649-1.466.847l-.186 1.858a.5.5 0 0 1-.497.45H6.952a.5.5 0 0 1-.497-.45l-.186-1.858a4.993 4.993 0 0 1-1.466-.848l-1.703.769a.5.5 0 0 1-.639-.206l-1.047-1.814a.5.5 0 0 1 .14-.656l1.517-1.09a5.033 5.033 0 0 1 0-1.694l-1.516-1.09a.5.5 0 0 1-.141-.656L2.46 3.593a.5.5 0 0 1 .639-.206l1.703.769c.433-.36.928-.65 1.466-.848l.186-1.858Zm-.177 7.567-.022-.037a2 2 0 0 1 3.466-1.997l.022.037a2 2 0 0 1-3.466 1.997Z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div>
    <!-- END Chat Header -->

    {% include 'crm/lead_chat_messages.html' %}

    <!-- Chat Input -->
    <div class="bg-gray-50 px-5 py-4 text-sm text-gray-600 dark:bg-gray-700/50 dark:text-gray-400">
        <form hx-post="{% url 'outbound_message' %}" enctype="multipart/form-data" class="flex items-center gap-2"
            hx-target-error="#alertModal"
            hx-target="#leadMessages"
            hx-swap="outerHTML"
            hx-on::after-request="if(event.detail.successful) this.reset()"
        >
            {% csrf_token %}
            <div class="grow">
                {{ chat_form.as_p }}
    
                <!-- Button group below input -->
                <div class="mt-1 flex gap-2">
                    <!-- Paper clip button -->
                    <button type="button" id="fileAttachment"
                        class="rounded-md p-1 text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="hi-micro hi-paper-clip size-5">
                            <path fill-rule="evenodd" d="M11.914 4.086a2 2 0 0 0-2.828 0l-5 5a2 2 0 1 0 2.828 2.828l.556-.555a.75.75 0 0 1 1.06 1.06l-.555.556a3.5 3.5 0 0 1-4.95-4.95l5-5a3.5 3.5 0 0 1 4.95 4.95l-1.972 1.972a2.125 2.125 0 0 1-3.006-3.005L9.97 4.97a.75.75 0 1 1 1.06 1.06L9.058 8.003a.625.625 0 0 0 .884.883l1.972-1.972a2 2 0 0 0 0-2.828Z" clip-rule="evenodd"/>
                        </svg>
                    </button>
                    <!-- END Paper clip button -->

                    <!-- Microphone button -->
                        <button type="button"
                        class="beginRecording rounded-md p-1 text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-600 hover:text-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="hi-micro hi-microphone size-5">
                            <path d="M8 1a2 2 0 0 0-2 2v4a2 2 0 1 0 4 0V3a2 2 0 0 0-2-2Z"/>
                            <path d="M4.5 7A.75.75 0 0 0 3 7a5.001 5.001 0 0 0 4.25 4.944V13.5h-1.5a.75.75 0 0 0 0 1.5h4.5a.75.75 0 0 0 0-1.5h-1.5v-1.556A5.001 5.001 0 0 0 13 7a.75.75 0 0 0-1.5 0 3.5 3.5 0 1 1-7 0Z"/>
                        </svg>
                    </button>
                    <!-- END Microphone button -->

                    <!-- Pause button -->
                    <button type="button" class="pauseRecording hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="hi-micro hi-pause inline-block size-5">
                            <path d="M4.5 2a.5.5 0 0 0-.5.5v11a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-11a.5.5 0 0 0-.5-.5h-1ZM10.5 2a.5.5 0 0 0-.5.5v11a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-11a.5.5 0 0 0-.5-.5h-1Z"/>
                        </svg>
                    </button>
                    <!-- END Pause button -->
                    <!-- Stop button -->
                    <button type="button" class="stopRecording hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="hi-micro hi-stop inline-block size-5">
                            <rect width="10" height="10" x="3" y="3" rx="1.5"/>
                        </svg>
                     </button>
                    <!-- END Stop button -->

                    <!-- File Counter -->
                    <span id="fileCount" class="text-sm text-gray-500"></span>
                    <!-- END File Counter -->
                </div>
            </div>
    
            <button type="submit" id="sendMessage" data-loading-disable
                class="inline-flex flex-none items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm leading-5 font-semibold text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-xs focus:ring-3 focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                <svg  data-loading-class="animate-spin" class="hidden lucide lucide-loader-circle inline-block size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                    <path d="M21 12a9 9 0 1 1-6.219-8.56" />
                </svg>
                Send
            </button>
        </form>
    </div>
    <!-- END Chat Input -->
</div>
<!-- END Chat: In Card -->

<!-- Image & Video Input -->
<script>
    const fileAttachment = document.getElementById('fileAttachment');
    const fileCount = document.getElementById('fileCount');
    const messageMedia = document.getElementById('messageMedia');

    function handleFileAttachment() {
        if (messageMedia) messageMedia.click();
    }

    fileAttachment.addEventListener('click', () => handleFileAttachment());

    messageMedia.addEventListener('change', (e) => {
        const count = e.target.files.length;

        switch (count) {
            case 0:
                fileCount.textContent = '';
                break;
            case 1:
                fileCount.textContent = '1 file attached';
                break;
            default:
                fileCount.textContent = `${count} files attached`;
                break;
        }
    });
</script>
<!-- END Image & Video Input -->

<!-- Audio Controls Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script type="module" src="{% static 'js/audio/Audio.js' %}"></script>
<!-- END Audio Controls Script -->