{% extends 'crm/base.html' %}
{% load static %}

{% block content %}
<div id="messages-content" class="flex flex-auto flex-col lg:flex-row mx-auto h-[80vh]">
    <!-- Leads -->
    <div class="w-full flex-none flex-col p-4 lg:flex lg:w-[320px] lg:p-8 h-full overflow-y-auto" style="scrollbar-width: none; -ms-overflow-style: none;">
        <ul id="chatSidebar" class="divide-y divide-gray-200 rounded-lg border border-gray-200 bg-white dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100" role="listbox">
            {% include 'crm/chat_sidebar.html' %}
        </ul>
        <!-- Infinite Scroll Trigger -->
        <div
            id="infinityScrollTrigger"
            hx-get="{% url 'load_chat_leads' %}?count=0"
            hx-trigger="revealed"
            hx-target="#chatSidebar"
            hx-swap="beforeend"
            hx-indicator="#loadingIndicator"
            hx-on="htmx:beforeRequest: updateHtmxUrl();"
        >
            <!-- Loading indicator when new items are being fetched -->
            <div id="loadingIndicator" class="text-center py-2" style="display:none;">
                Getting more...
            </div>
        </div>
        <!-- END Infinite Scroll Trigger -->
    </div>
    <!-- END Leads -->

    <!-- Messages -->
    {% if is_mobile %}
        <!-- Modal wrapper for mobile -->
        <div class="flex flex-col my-6 overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
            <div
                class="flex flex-col gap-3 bg-gray-50 px-5 py-4 text-center dark:bg-gray-700/50 sm:flex-row sm:items-center sm:justify-between sm:text-left">
                <button type="button" data-modal-id="chatModal"
                    class="openModal inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Add Quote Service
                </button>
            </div>
        </div>
        <div data-modal-id="chatModal" data-modal="form" style="display: none;">
            <div>
                <div tabindex="-1" role="dialog"
                    class="fixed inset-0 z-90 overflow-y-auto overflow-x-hidden bg-gray-900/75 p-4 backdrop-blur-sm lg:p-8">
                    <div role="document"
                        class="mx-auto flex w-full sm:w-1/2 flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                        <div class="flex items-center justify-between bg-gray-50 px-5 py-4 dark:bg-gray-700/50">
                            <h3 class="flex items-center gap-2 font-medium">
                                <span>Chat</span>
                            </h3>
                            <div class="-my-4">
                                <button type="button" data-modal-id="chatModal"
                                    class="closeModal inline-flex items-center justify-center gap-2 rounded-lg border border-transparent px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                                    ✕
                                </button>
                            </div>
                        </div>
                        <div class="grow px-5">
                            <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                                <div id="leadChat" class="grow p-5 md:px-16 md:py-6">
                                    {% include 'crm/lead_chat.html' %}
                                </div>
                            </div>
                        </div>
                        <div class="space-x-1 bg-gray-50 px-5 py-4 text-right dark:bg-gray-700/50">
                            <button type="button" data-modal-id="chatModal"
                                class="closeModal inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Inline for desktop -->
        <div id="leadChat" class="mx-auto flex w-full flex-col p-4 lg:p-8 h-full">
            {% include 'crm/lead_chat.html' %}
        </div>
    {% endif %}
    <!-- END Messages -->
</div>
<script>
    let counter = 0;

    function updateHtmxUrl() {
        counter += 20;
        const element = document.getElementById('infinityScrollTrigger');

        const url = "{% url 'load_chat_leads' %}?count=" + counter;
        element.setAttribute('hx-get', url);
    }
</script>
{% endblock %}