{% extends 'crm/base.html' %}
{% load static %}

{% block content %}
<div id="messages-content" class="flex flex-auto flex-col lg:flex-row mx-auto h-[80vh]">
    <!-- Leads -->
    <div id="sidebarContainer" class="w-full flex-none flex-col p-4 lg:flex lg:w-[320px] lg:p-8 h-full overflow-y-auto" style="scrollbar-width: none; -ms-overflow-style: none;">
        <ul id="chatSidebar" class="divide-y divide-gray-200 rounded-lg border border-gray-200 bg-white dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100" role="listbox">
            {% include 'crm/chat_sidebar.html' %}
        </ul>
    </div>
    <!-- END Leads -->

    <!-- Messages -->
    {% if is_mobile %}
        <!-- Modal wrapper for mobile -->
        <div class="flex flex-col my-6 overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
            <div class="flex flex-col gap-3 bg-gray-50 px-5 py-4 text-center dark:bg-gray-700/50 sm:flex-row sm:items-center sm:justify-between sm:text-left">
                <button type="button" data-modal-id="chatModal"
                    class="openModal inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                    Add Quote Service
                </button>
            </div>
        </div>
        <div data-modal-id="chatModal" data-modal="form" style="display: none;">
            <div>
                <div tabindex="-1" role="dialog"
                    class="fixed inset-0 z-90 overflow-y-auto overflow-x-hidden bg-gray-900/75 p-4 backdrop-blur-sm lg:p-8">
                    <div role="document"
                        class="mx-auto flex w-full sm:w-1/2 flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                        <div class="flex items-center justify-between bg-gray-50 px-5 py-4 dark:bg-gray-700/50">
                            <h3 class="flex items-center gap-2 font-medium">
                                <span>Chat</span>
                            </h3>
                            <div class="-my-4">
                                <button type="button" data-modal-id="chatModal"
                                    class="closeModal inline-flex items-center justify-center gap-2 rounded-lg border border-transparent px-3 py-2 text-sm font-semibold leading-5 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                                    ✕
                                </button>
                            </div>
                        </div>
                        <div class="grow px-5">
                            <div class="flex flex-col overflow-hidden rounded-lg bg-white shadow-sm dark:bg-gray-800 dark:text-gray-100">
                                <div id="leadChat" class="grow p-5 md:px-16 md:py-6">
                                    {% include 'crm/lead_chat.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Inline for desktop -->
        <div id="leadChat" class="mx-auto flex w-full flex-col p-4 lg:p-8 h-full">
            {% include 'crm/lead_chat.html' %}
        </div>
    {% endif %}
    <!-- END Messages -->
</div>

<script>
    let counter = 20;
    let isLoading = false;
    const chatSidebar = document.getElementById('chatSidebar');
    const sidebarContainer = document.getElementById('sidebarContainer');

    function triggerHtmxOnScroll() {
        if (isLoading) return;

        const lastChild = chatSidebar.querySelector('li:last-child');

        if (!lastChild) throw new Error('Lead elements not found on page.');

        const rect = lastChild.getBoundingClientRect();
        let isVisible = rect.top <= window.innerHeight && rect.bottom >= 0;

        if (!isVisible) return;

        counter += 20;

        isLoading = true;

        htmx.ajax('GET', "{% url 'load_chat_leads' %}?count=" + counter, {
            target: '#chatSidebar',
            swap: 'beforeend',
        });
    }

    document.body.addEventListener('htmx:beforeRequest', function() {
        isLoading = true;
    });

    document.body.addEventListener('htmx:afterSwap', function(event) {
        if (event.target.id === 'chatSidebar') {
            isLoading = false;
        }
    });

    sidebarContainer.addEventListener('scroll', function () {
        triggerHtmxOnScroll();
    });
</script>

<script>
    function handleChatModal() {
        let isMobile = "{{ is_mobile }}" == "True";
        const chatModal = modalHelper.get('chatModal');
        if (chatModal && isMobile) chatModal.open();
    }
</script>

{% endblock %}