{% load static %}
<!DOCTYPE html>
<html class="dark" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag("js", new Date());

		gtag("config", "{{ google_analytics_id }}");
		gtag("set", "user_id", "{{ external_id }}");

		gtag('config', '{{ google_ads_id }}');
	</script>

	<script>
		gtag('config', '{{ google_ads_id }}/{{ google_ads_conversion_label }}', {
			'phone_conversion_number': '{{ phone_number }}',
			'phone_conversion_css_class': 'phoneNumber'
		});
	</script>
	<!-- End Google tag -->

	<!-- Facebook Tag -->
	<script nonce="{{ .Nonce }}">
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '{{ facebook_dataset_id }}', { 'external_id': "{{ external_id }}" });
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id={{ facebook_dataset_id }}&ev=PageView&noscript=1" /></noscript>
	<!-- End Facebook Tag -->
    <!-- Essential Meta Tags -->
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
    <meta name="description" content="{{ meta_description }}">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta property="og:site_name" content="{{ site_name }}" />

    <!-- Twitter -->
    <meta name="twitter:title" content="{{ page_title }}" />
    <meta name="twitter:description" content="{{ meta_description }}" />
    <meta name="twitter:url" content="{{ page_path }}" />

    <!-- CSS -->
    <link href="{% static 'styles/main.css' %}" rel="stylesheet" type="text/css">

    <!-- Rels -->
    <link rel="canonical" href="{{ page_path }}" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">

    <!-- Android Chrome -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'android-chrome-512x512.png' %}">
</head>

<body>
	<div class="relative overflow-hidden bg-white dark:bg-gray-900 dark:text-gray-100">
		<!-- Header -->
		{{ template "header.html" . }}
		<!-- END Header -->

		<!-- Page Content -->
		<main id="page-content" class="flex flex-auto flex-col mt-16 md:mt-0 max-w-full">
			<div class="container xl:max-w-7xl mx-auto px-4 lg:p-8">
				{% block content %}{% endblock %}
			</div>

			<!-- Quote Form -->
			{{ template "quote_form.html" . }}
			<!-- END Quote Form -->
		</main>
		<!-- Page Content -->

		<!-- Page Footer -->
		{% include "footer.html" %}
		<!-- END Page Footer -->
	</div>
</body>

<!-- JS Scripts -->
{% block extra_scripts %}
    {% if js_files %}
        {% for js_file in js_files %}
            <script src="{% static js_file %}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}

<script type="module">
    import { ModalHelper } from "{% static 'js/modal.js' %}";
    const modalHelper = new ModalHelper();

    modalHelper.register({ modalId: 'quoteModal' });
</script>
<!-- END JS Scripts -->

</html>